/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
  
.banner{
	background-color: #EBE312;
	width: auto;
	height: 50px;
}

.images{
	background-image: url("../img/logo-normal.png");
    height: 34px;
    width: 173px;
    margin-left : 60px;
}

.parteInferiror{
	background-color: black;
	width: auto;
	height: 120px;
}




div[id="container"] > footer{
	background-color: #000000;
    height: 100px;
    position: absolute;
    top: 1128px;
    width: 100%;
}



div[role="main"] > div{
    border: 1px solid #E9EAF0;
    border-radius: 20px 20px 20px 20px;
    height: 932px;
    /*left: 185px;*/
    position: absolute;
    top: 180px;
    width: 950px;
    box-shadow: 0px 10px 5px #888888;
}


div[role="main"] > div:first-child div[id="conteinerMapas"]{
	border: 1px solid #D1D2D5;
    height: 720px;
    margin-left: 10px;
    margin-top: 5px;
    width: 928px;
}

div[id="conteinerMapas"] > div[id="map1"]{
    border: 3px solid;
    height: 252px;
    margin-left: 10px;
    margin-top: 5px;
    width: 630px;
}

div[id="conteinerMapas"] > div[id="map2"]{
    border: 3px solid;
    height: 387px;
    margin-left: 10px;
    margin-top: 6px;
    width: 630px;
}

div[id="conteinerMapas"] > div[id="panel"]{
    border: 1px solid #D1D2D5;
    height: 681px;
    left: 672px;
    position: absolute;
    top: 229px;
    width: 259px;
}



div[id="conteinerMapas"] > div[id="titulo1"]{
	margin-top : 5px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-left: 10px;
    width: 260px;
}

div[id="conteinerMapas"] > div[id="titulo2"]{
	margin-top : 10px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-left: 10px;
    width: 260px;
}

.comuna{
    border-radius: 10px 10px 10px 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    height: 343px;
    margin-left: 20px;
    width: 217px;
}


.zonas{
	width: 217px;
	height: 263px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	margin-left: 20px;
	border-radius: 10px;
}

li{
	display:block;
}


select{
	margin-left:80px;
}

input[type="checkbox"]{
	margin-left: 10px;
}

#panelClima{
	border: 1px solid #D1D2D5;
    height: 130px;
    margin-left: 10px;
    margin-top: 30px;
    width: 928px;
}

div[id="img1"]{
	margin-top: 20px;
	width: 456px;
	height: 70px;
}


div[id="img1"] > img{
	margin-left : 40px;
}


div[id="con"] > div[id="alerta"]{
	position: absolute;
	top: 63px;
	left: 494px;
	width: 433px;
	height: 130px;
	font-weight:bold
}

div[id="con"] > div[id="mensaje"]{
	width: 262px;
	margin-left: 45px;
	margin-top: 5px;
	font-weight:bold
}

li:hover{
	cursor:pointer;
	background-color:#D1D2D5;
	color : blue;
}

li[id="template"]{
	display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 12px;
  width: 200px;
}
 
li {
  font: 200 17px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li{
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

h5{
	font: 200 14px/1.5 Helvetica, Verdana, sans-serif;
}


/*=======PANEL DEL CLIMA =========*/

.valores{
    height: 70px;
    left: 130px;
    position: absolute;
    top: 108px;
    width: 200px;
}


.titulo{
  	font-weight:bold;
  	margin-top : 5px;
  	margin-left : 30px;
}


.mensajes{
	font-weight:bold;
	margin-top: 50px;
	margin-left : 30px;
}

.barra{
  	background: #D1D2D5;
    height: 130px;
    left: 468px;
    position: absolute;
    top: 64px;
    width: 10px;
}

/*===========================PRUEBA PARA CONTROL==========================*/

select {
    padding:5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    /*color:#888;*/
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width : 150px;
    margin-left: 30px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label {position:relative}
label:after {
    content:'<>';
    font:14px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}

/*===============================PANEL DE COLORES==================================*/



.panelColores{
	border: 1px solid #D1D2D5;
	height: 20px;
	width: 322px;
	position: absolute;
	top: 496px;
	left: 322px;
}


.letrasReferencia{
	position : absolute;
    width : 86px;
    height : 20px;
}

.rojo{
    background: none repeat scroll 0 0 #FF0000;
	height: 15px;
	left: 1px;
	top: 2px;
	position: absolute;
	width: 15px;
}

.amarillo{
   	background: none repeat scroll 0 0 #FFFF00;
	height: 15px;
	left: 160px;
	left: 160px;
	top: 2px;
	position: absolute;
	width: 15px;
}

.rojoLetras{
    left: 20px;
	position: absolute;
}

.amarilloLetras{
   	left: 180px;
	position: absolute;
	width: 130px;
}

h5{
	font-weight: bold;
	text-decoration: underline;
}

 #estado{
	padding-bottom: 5px;
	font-weight: bold;
 }
 
 #temp{
 	padding-bottom: 5px;
	font-weight: bold;
 }

#fecha{
	padding-bottom: 5px;
	font-weight: bold;
	width: 250px;
}


#titulo1{
	font-weight: bold;
}

 #titulo2{
	font-weight: bold;
}


/*===============Extendido del clima ===============*/

.contenedor{
    width: 100px;
	height: 105px;
	/*border: 1px solid;*/
	float: left;
	margin-left: 5px;
	margin-top: 2px;
}


.tempMax{
   	border: 1px solid #D1D2D5;
    height: 16px;
    margin-top: 5px;
    width: 40px;
}

.tempMin{
    border: 1px solid #D1D2D5;
    height: 16px;
    margin-top: 5px;
    width: 40px;
}


.img{
	width: 40px;
	height: 40px;
}

#contenedor{
	display : none;
}


/**==========================================================================*/


/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
